include LICENSE.md
include README.rst

include pyvims/data/flybys.csv
include pyvims/data/wvlns_std.csv
include pyvims/data/wvlns_ir_shift.csv
include pyvims/data/README.md
include pyvims/data/titan_npole_stereo_60_all_lakes.png
include pyvims/data/titan_npole_stereo_60_jingpo.png
include pyvims/data/titan_npole_stereo_60_kraken_inf.png
include pyvims/data/titan_npole_stereo_60_kraken_sup.png
include pyvims/data/titan_npole_stereo_60_ligeia.png
include pyvims/data/titan_npole_stereo_60_other_lakes.png
include pyvims/data/titan_npole_stereo_60_punga_kivu.png
include pyvims/data/maps/Titan_VIMS_ISS.jpg
include pyvims/geol/data/Titan_geol_map.png

# Calibration files
include pyvims/calib/data/RC19-VIMS_IR-calibration_multiplier.csv
include pyvims/calib/data/RC19-VIMS_IR-solar.csv
include pyvims/calib/data/RC19-VIMS_IR-wave_photon_cal.csv
include pyvims/calib/data/RC19-VIMS_IR-wavelengths.csv
include pyvims/calib/data/RC19-VIMS_VIS-calibration_multiplier.csv
include pyvims/calib/data/RC19-VIMS_VIS-solar.csv
include pyvims/calib/data/RC19-VIMS_VIS-wave_photon_cal.csv
include pyvims/calib/data/RC19-VIMS_VIS-wavelengths.csv
